.carousel-container {
    width:100%;
    max-width:99vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.carousel {
    border: 2px solid var(--primary);
    display: flex;
    overflow-x: hidden;
    width: 61%;
    justify-self: center;
    height: 320px;
    overflow-y: hidden;
    gap: 40px;
    scrollbar-width: thin;                 /* Firefox */
    scrollbar-color: rgba(0,0,0,.3) transparent;
}
@media screen and (max-width: 700px){
    .carousel {
        width:100%;
    }
}

.carousel::-webkit-scrollbar {
    height: 4px;                           /* Chrome / Edge / Safari */
}

.carousel::-webkit-scrollbar-track {
    background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.35);
    border-radius: 4px;
}

.slide {
    flex: 0 0 200px; /* fixed width for predictable scrolling */
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}
.slide-img {
    transition: 0.3s;
}
.slide:hover img, .slide.is-center img {
    transform: scale(1.15);
    transition: 0.3s;
    opacity: 1;
}


.slide.is-center {
    opacity: 1;
    transition: 0.3s;
}
.slide:hover {
    opacity: 1;
}

.slide img {
    width: 150px;
    height: auto;
    border-radius:8px;
    box-shadow: 0px 8px 8px 4px var(--shadow);
    margin-bottom: 16px;
}