:root {
    --primary: rgb(14, 14, 129);
    --secondary: rgba(204, 0, 0);
    --light: white;
    --light-gray: rgba(240, 240, 255);
}

* {
    text-decoration: none;
}

body {
    margin:0px;
    padding:0px;
    background-color: var(--primary);
}
footer {
    text-align: right;
    background-color: var(--primary);
    color: var(--light);
    padding:2px 8px 2px 2px;
    
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin:12px;
}
body, p, li {
    font-family: "Source Sans Pro", sans-serif;
}

.main-nav {
    display:flex;
    gap:2%;
    justify-content:center;
    background-color: var(--primary);
    width:100%;
    padding:4px 0 4px 0;
    max-height: 20px;
}

.nav-link {
    background-color: var(--light);
    color: var(--primary);
    font-weight: 600;
    padding: 1px 8px 1px 8px;
    border-radius: 4px;
    transition:0.3s;
}
.nav-link:hover {
    transition:0.3s;
    padding: 1px 16px 1px 16px;
}

.site-header {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:auto;
    padding:8px;
    padding-bottom:3px;
    border-top: 6px solid var(--primary);
    border-radius: 16px 16px 0 0;
}
.logo-section, .cart-section {
    display:flex;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    color: var(--primary);
}

.header-edge a{
    color: black;
}

.container {
    background-color: var(--primary);
}
.content {
    background-color: var(--light);
}

.text {
    width:66%;
    justify-self: center;
    border: 1px solid var(--primary-light);
    margin:16px;
}
.prod-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: var(--light-gray);
    padding: 4px;
}

.prod-img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.product {
    display: flex;
    gap: 16px;
    width:500px;
    border: 1px solid var(--light-gray);
    margin: 10px;
}
.prod-info *{
    margin: 0px;
    padding-bottom: 6px;
}
.prod-info h2 {
    font-weight: 100;
}

.prod-data {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    margin: 8px;
}

.prod-button {
    display: flex;
    justify-content: center;
}
.prod-button button {
    border-radius: 8px;
    border: none;
    padding: 8px 10px 6px 10px;
    background-color: var(--light-gray);
    box-shadow: 0px 2px 0px 2px rgba(0,0,0,.2);
    transition:0.5s;
}
.prod-button button:hover {
    transition:0.5s;
    padding: 8px 16px 6px 16px;
}