:root {
    --primary: rgba(0, 0, 204);
    --primary-light: rgb(66, 110, 255);
    --secondary: rgba(204, 0, 0);
    --light: white;
}

* {
    text-decoration: none;
}

body {
    margin:0px;
    padding:0px;
    background-color: var(--primary-light);
}
footer {
    text-align: right;
    background-color: var(--primary);
    color: var(--light);
    padding:2px 8px 2px 2px;
    border-top: 4px solid var(--primary-light);
    border-bottom: 4px solid var(--primary-light);
    
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin:12px;
}
body, p, li {
    font-family: "Source Sans Pro", sans-serif;
}

.main-nav {
    display:flex;
    gap:2%;
    justify-content:center;
    background-color: var(--primary);
    border-top: 4px solid var(--primary-light);
    border-bottom: 4px solid var(--primary-light);
    width:100%;
    padding:4px 0 4px 0;
    max-height: 20px;
}

.nav-link {
    background-color: var(--light);
    color: var(--primary);
    font-weight: 600;
    padding: 1px 8px 1px 8px;
    border-left: 6px solid var(--primary-light);
    border-right: 6px solid var(--primary-light);
    transition:0.3s;
}
.nav-link:hover {
    transition:0.3s;
    padding: 1px 10px 1px 10px;
    border-left: 12px solid var(--primary-light);
    border-right: 12px solid var(--primary-light);
}

.site-header {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    height:auto;
    padding:8px;
    padding-bottom:3px;
    border-top: 6px solid var(--primary-light);
    border-radius: 16px 16px 0 0;
}
.logo-section, .cart-section {
    display:flex;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    color: var(--primary);
}

.container {
    background-color: var(--primary-light);
}
.content {
    background-color: var(--light);
}

.text {
    width:66%;
    justify-self: center;
    border: 1px solid var(--primary-light);
    margin:16px;
}